@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Mrs+Saint+Delafield&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root{
    --barcode:  'Libre Barcode 39 Text', cursive;
    --delafield: 'Mrs Saint Delafield', cursive;
    --titillium: 'Titillium Web', sans-serif;
    --sea-green: #46AFB9 ;
    --dark-green: #184C51;
    --skin: #F5E4C3;
    --pink: #DF8C95;
    --brown: #532A31;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--titillium);
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.social{
    margin: 24px 0;
}

.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 10px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-codepen{
      background: black;
      color: white;
  }

  .fa-linkedin{
      background: #0077B5;
      color: white;
  }

  .fa-github{
      background: #211F1F;
      color: white;
  }
@media(min-width: 21.87em){
    #nav-bar,footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background-color: var(--pink);
        font-size: 2.5rem;
        padding: 0 1.5rem;
        color: var(--brown);
    }
    .logo-nav{
        font-family: var(--barcode);
        
    }
    .menu-toggle{
        cursor: pointer;
        user-select: none;
        
    }
    .menu{
        font-size: 1rem;
        display: none;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .menu-mob{
        display: none;
        justify-content: space-around;
        margin: 1rem;
        height: 9.625rem;
        background-color: var(--brown);
        width: 90%;
        border-radius: 1rem;
        padding: 1.3rem;
        user-select: none;
        animation: menu-drop 0.5s ease-out;
        
    }
    
    @keyframes menu-drop{
        from{
            opacity: 0;
            height: 1rem;
        }
        10%{
            height: 2rem;
        }
        20%{
            height: 3rem;
        }
        30%{
            height: 4rem;
        }
        40%{
            height: 5rem;
        }
        to{
            opacity: 1;
        } 
    }

    .menu-mob ul li{
        margin-bottom: 0.9rem;
        text-align: center;
    }
    .menu-mob ul li a{
        color: var(--pink);
        font-weight: bold;
        user-select: none;
    }
    .menu ul, .menu-mob ul{
        list-style: none;
    }
    .menu ul li a, .menu-mob ul li a{
        text-decoration: none;
        font-size: 1.125rem;
    }
    .menu ul li{
        padding: 1.3rem;
        font-weight: bold;
    }
    .menu ul li a{
        color: var(--brown);
        user-select: none;
    }
    
    footer{
        justify-content: center;
        font-size: 1.8rem;
    }
    .logo-foot{
        font-family: var(--delafield);
    }
    header{
        background-color: var(--dark-green);
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2.25rem 1.5rem;
        color: var(--skin);
        font-size: 1.2rem;
    }
    .about .text h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .about .name{
        color: var(--pink);
        
    }
    .about img{
        height: 11.25rem;
        width: 11.25rem;
        /* border-radius: 50%; */
        align-self: center;
        /* border: 3px solid var(--sea-green); */
    }
    .about .text{
        display: flex;
        flex-direction: column;
        margin: 1.2rem 1rem 0;
    }
    .about .text .skill{
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--pink);
        margin-bottom: 0.5rem;
    }
    .about .text .codepen-work a{
        text-decoration: none;
        font-weight: bold;
        color: var(--pink);
        user-select: none;
    }

    .skills{
        background-color: var(--pink);
        padding: 2rem 1rem;
    }

    .skills .window{
       background-color: var(--dark-green);
       border-radius: 0.5rem;
    }

    .skills .window .titlebar{
        background-color: var(--skin);
        height: 4rem;
        border-radius: 0.5rem 0.5rem 0 0;
        color: var(--dark-green);
        font-weight: bold;
        font-size: 1.8rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }

    .skills .window .content{
        display: flex;
        justify-content:center;
        align-items: center;
        
    }

    .skills .window .content .skill-set{
        display: flex;
        flex-wrap: wrap;
        margin-left: 3rem;
    }
    .skills .window .content .skill{
        margin: 1rem;
    }

    .contact{
        background-color: var(--dark-green);
        padding: 2rem 1rem;
    }

    .contact .window{
        background-color: var(--pink);
        border-radius: 0.5rem;
     }

     .contact .window .titlebar{
        background-color: var(--skin);
        height: 4rem;
        border-radius: 0.5rem 0.5rem 0 0;
        color: var(--brown);
        font-weight: bold;
        font-size: 1.8rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }
    .contact form{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 2rem 0;
    }

    .contact form input, .contact textarea, .contact button{
        height: 2.5rem;
        width: 80%;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        border: 0;
        padding: 0.5rem;
    }

    .contact textarea{
        height: 5rem;
    }

    .contact button{
        background-color: var(--sea-green);
        color: var(--brown);
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem 0;
        cursor: pointer;
        box-shadow: #211F1F;;
    }

    :focus {outline: none;
    }
    

}

@media(min-width: 43.75em){
    #nav-bar{
        padding: 0 2rem;
    }
   .menu-mob, .menu-toggle{
       display: none;
   }
   .menu{
       display: flex;
   }
   .menu ul li{
    margin-right: 2rem;
    }
    header{
        width: 100vw;
    }
    header .about{
       
    }
    .about img{
        height: 20rem;
        width: 20rem;
    }
    .about .text{
        text-align: center;
    }
    .about .text h2{
        font-size: 2.25rem;
    }
    .skills .window .content{
        display: flex;
        flex-direction: row;
    }
    .skills .window .content .skill-set{
        
        margin-left: 0rem;
    }

}

@media(min-width: 62em){
    #nav-bar{
        padding: 0 3rem;
    }
    .about{
        flex-direction: row-reverse;
    }
    .about .text{
        text-align: left;
        width: 50%;
        margin-right: 6.25rem;
        justify-content: center;
    }
    .about .text h2{
        font-size: 3.5rem;
    }
    .about .text .skill{
        font-size: 1.8rem;
    }
    .about img{
        height: 25rem;
        width: 25rem;
    }
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact .window{
        width: 30rem;
    }
}

@media(min-width: 87em){

}